$color: #5C2610;

.header {
    background-image: url('../../assets/img/helpers/background.jpeg');
    background-size: 10%;
    background-attachment: fixed;
    .cap {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;
        align-items: center;
        .logo {
           font-style: italic;
        }
        .login {
            .auth-button {
                text-decoration: none;
                display: inline-block;
                padding: 10px 16px;
                margin: 10px 6px;
                font-size: 12px;
                border-radius: 10px;
                box-shadow: 0 0 40px 40px $color inset, 0 0 0 0 $color;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                letter-spacing: 2px;
                color: white;
                transition: .15s ease-in-out;
                &:hover {
                    box-shadow: 0 0 10px 0 $color inset, 0 0 10px 4px $color;
                    color: $color;
                }
            }
        }
    }
    .navbar {    
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 20px;
        & a {
            color: $color;
            font-size: 20px;
            text-decoration: none;
            font-style: italic;
            &.active {
                color: blue;
            }
        }
        .space {
            width: 13%;
            text-align: center;
            img {
                width: 30px;
            }
        }
    }
    
}