.app-wrapper {
  margin: 0 auto;
}
.app-content {
  background-image: url('./assets/img/helpers/wallpaper.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.app-bloor {
  background-color: rgba(255, 255, 255, .5);
  overflow: inherit;
  min-height: 100vh;
}